.video-container {
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
  position: relative;
}

iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

p {
  margin-top: 16px;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: justify;
}

mat-card {
  border-radius: 0;
  margin: 8px 0 8px 0;
}

h2 {
  font-size: 1.1em;
}
